@import "./tailwind.css";
@import "allotment/dist/style.css";

/* @import "./mdx.css"; */

#__next {
  width: 100%;
  display: flex;
}

/* .disable-transitions * {
  transition: none !important;
} */
